@layer components {
  .mobile-container {
    @apply bg-[#f6f6f6] h-screen;
    > main {
      @apply max-w-[var(--max-width-mobile)] mx-auto h-[inherit] bg-white;
    }
  }

  .cta-button {
    @apply min-h-[44px] px-4 rounded-[22px];
    @apply font-medium text-sm/[40px] text-nowrap;
    @apply flex gap-2 items-center;
    @apply [&>svg]:size-5;
    @apply cursor-pointer;
    @apply bg-accent hover:bg-accent-hover active:bg-accent-active text-white;
    @apply shadow-md hover:shadow-lg transition-shadow active:shadow-md;
    @apply transition;
  }

  #murajaah-sidebar {
    @apply top-4;
    transition: top 300ms;
    transition-timing-function: var(--transition-navbar);
  }

  .white-outline-button {
    @apply min-h-[34px] px-4 rounded-[20px];
    @apply font-medium text-sm/[34px] text-nowrap;
    @apply flex gap-2 items-center;
    @apply [&>svg]:size-5;
    @apply cursor-pointer;
    @apply bg-transparent text-white border border-white;
  }

  .navbar-fixed-active,
  .navbar-fixed {
    + main #murajaah-sidebar {
      @apply top-20;
    }
  }
  .navbar-fixed,
  .navbar-fixed-active,
  .navbar-static-active {
    @apply fixed top-0 left-0 right-0 z-10;
    @apply bg-background/75 backdrop-blur-md translate-0;
    @apply shadow-xs;
  }

  .navbar-fixed-active {
    animation: navbarSlideDown 300ms var(--transition-navbar) forwards;
  }

  .navbar-static-active {
    animation: navbarSlideUp 300ms var(--transition-navbar) forwards;
  }

  .overlay-enter {
    @apply bg-black/60;
  }

  .overlay-enter-active {
    animation: overlayFadeIn 300ms ease forwards;
  }

  .overlay-leave-active {
    animation: overlayFadeOut 300ms ease forwards;
  }

  .slide-up {
    @apply translate-y-0;
  }

  .slide-up-active {
    animation: slideUp 300ms ease forwards;
  }

  .slide-down-active {
    animation: slideDown 300ms ease forwards;
  }
}
