@utility container {
  margin-inline: auto;
  @apply px-6 sm:px-10;
  @apply md:max-w-300;
}

@utility container-for-reading {
  @apply container;
  @apply md:max-w-200;
}

@utility animate-hover {
  @apply translate-y-0 hover:-translate-y-0.5 active:translate-y-px transition-transform ease-(--ease-silky);
}

@utility animate-slide-down-fade-in {
  animation: slideDownFadeIn 0.2s ease;
}

@utility animate-slide-down-fade-out {
  animation: slideDownFadeOut 0.2s ease;
}

@utility animate-slide-up-fade-out {
  animation: slideUpFadeOut 0.2s ease;
}

@utility animate-slide-up-fade-in {
  animation: slideUpFadeIn 0.2s ease;
}
