@utility container {
  margin-inline: auto;
  @apply px-3 sm:px-5;
  @apply md:max-w-[960px];
}

@utility container-for-reading {
  @apply container;
  @apply md:max-w-[720px];
}

@utility animate-hover {
  @apply translate-y-0 hover:-translate-y-0.5 active:translate-y-0.5;
  @apply transition;
}

@utility animate-slide-down-fade-in {
  animation: slideDownFadeIn 0.2s ease;
}

@utility animate-slide-down-fade-out {
  animation: slideDownFadeOut 0.2s ease;
}

@utility animate-slide-up-fade-out {
  animation: slideUpFadeOut 0.2s ease;
}

@utility animate-slide-up-fade-in {
  animation: slideUpFadeIn 0.2s ease;
}
