:root {
  --color-link: #9d5c63;
  --color-link-active-parchment: oklch(
    from var(--color-link-parchment) l c calc(h + 90)
  );
  --color-link-visited-parchment: oklch(
    from var(--color-link-parchment) l calc(c - 0.1) h
  );

  font-size: 16px; /* 16px -> 1rem */
}

@media (prefers-color-scheme: light) {
  :root {
    --color-parchment: #f1e9d2;
    --color-text-parchment: oklch(
      from var(--color-parchment) calc(l - 0.6) c h
    );
    --color-link-parchment: var(--color-link);
    --color-background: oklch(from var(--color-parchment) calc(l - 0.08) c h);

    ::selection {
      color: var(--color-text-parchment);
      background-color: oklch(
        from var(--color-text-parchment) calc(l + 0.4) c h
      );
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-parchment: #2a2622;
    --color-text-parchment: oklch(
      from var(--color-parchment) calc(l + 0.4) calc(c + 0.03) h
    );
    --color-link-parchment: oklch(from var(--color-link) l c calc(h - 10));
    --color-background: oklch(from var(--color-parchment) calc(l + 0.025) c h);

    ::selection {
      color: var(--color-parchment);
      background-color: var(--color-text-parchment);
    }
  }
}

:root.light {
  --color-parchment: #f1e9d2;
  --color-text-parchment: oklch(from var(--color-parchment) calc(l - 0.6) c h);
  --color-link-parchment: var(--color-link);
  --color-background: oklch(from var(--color-parchment) calc(l - 0.08) c h);

  ::selection {
    color: var(--color-text-parchment);
    background-color: oklch(from var(--color-text-parchment) calc(l + 0.4) c h);
  }
}

:root.dark {
  --color-parchment: #2a2622;
  --color-text-parchment: oklch(
    from var(--color-parchment) calc(l + 0.4) calc(c + 0.03) h
  );
  --color-link-parchment: oklch(from var(--color-link) l c calc(h - 10));
  --color-background: oklch(from var(--color-parchment) calc(l + 0.025) c h);

  ::selection {
    color: var(--color-parchment);
    background-color: var(--color-text-parchment);
  }
}

body {
  font-family: "Georgia", serif;
  background-color: var(--color-background);
  margin: 0;
}

.novel-look {
  background-color: var(--color-parchment);
  color: var(--color-text-parchment);
  font-size: 18px; /* Dipakai untuk em pada children main, 18px -> 1em */
  max-width: 720px;
  margin: 2rem auto;
  padding: 3.5rem;
  box-sizing: border-box;

  h1 {
    text-align: center;
  }

  :any-link {
    &:link {
      color: var(--color-link-parchment);
    }
    &:active {
      color: var(--color-link-active-parchment);
    }
    &:visited {
      color: var(--color-link-visited-parchment);
    }
    &.external-link:after {
      content: "";
      display: inline-block;
      width: 0.75em;
      height: 0.75em;
      background-color: currentColor;
      mask-image: url("assets/external-link.svg");
      mask-size: cover;
      vertical-align: text-top;
      margin-left: 0.1em;
    }
  }

  :not(h1, h2, h3, h4, h5, h6) {
    text-align: justify;
    line-height: 1.6;
    margin: 0;
  }

  :first-child {
    margin-top: 0;
  }

  :not(h1 + p):not(h2 + p):not(:first-child) {
    text-indent: 2rem;
  }
}

.toggle-darkmode {
  position: fixed;
  inset: auto 1rem 1rem auto;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: var(--color-parchment);
  line-height: 0;

  &:active {
    transform: scale(0.9);
  }

  transition: transform 120ms ease;

  .sun-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--color-text-parchment);
    mask-image: url("assets/sun.svg");
    mask-size: cover;
  }

  .moon01-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--color-text-parchment);
    mask-image: url("assets/moon-01.svg");
    mask-size: cover;
  }
}
