@import "tailwindcss";
@import "./styles/keyframes.css";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --accent: #028141;
  --accent-hover: #028845;
  --accent-active: #028845;
  --text-accent: #028141;
  --text-gray: #434343;
  --calm: #0e4da0;
  --calm-hover: #1156af;
  --calm-active: #1156af;
  --text-calm: #05408d;
  --max-width-mobile: 430px;
  --ease-silky: cubic-bezier(0.5, 0.5, 0, 1);
  --ease-glide: linear(
    0,
    0.004 0.3%,
    0.01 0.5%,
    0.021 0.8%,
    0.13 3.1%,
    0.192 4.5%,
    0.258 6.1%,
    0.319 7.7%,
    0.374 9.3%,
    0.428 11%,
    0.478 12.7%,
    0.523 14.4%,
    0.569 16.3%,
    0.612 18.3%,
    0.653 20.4%,
    0.69 22.5%,
    0.726 24.8%,
    0.757 27.1%,
    0.786 29.5%,
    0.813 32%,
    0.836 34.5%,
    0.858 37.2%,
    0.878 40%,
    0.896 43%,
    0.912 46.1%,
    0.926 49.4%,
    0.938 52.9%,
    0.95 56.7%,
    0.968 64.9%,
    0.98 74.4%,
    0.989 85.8%,
    1
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-active: var(--accent-active);
  --color-text-accent: var(--text-accent);
  --color-text-gray: var(--text-gray);
  --color-calm: var(--calm);
  --color-calm-hover: var(--calm-hover);
  --color-calm-active: var(--calm-active);
  --color-text-calm: var(--text-calm);

  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-overpass-mono);
  --font-amiri-quran: var(--font-amiri-quran);

  --ease-silky: var(--ease-silky);
  --ease-glide: var(--ease-glide);

  --animate-pulse: pulse 1.2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    0%,
    100% {
      opacity: 30%;
    }
    50% {
      opacity: 100%;
    }
  }
}

@import "./styles/utilities.css";
@import "./styles/components.css";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-sans);

  [dir="rtl"] {
    direction: rtl;
    font-family: var(--font-amiri-quran);
  }
}

code,
kbd,
samp,
pre {
  font-family: var(--font-overpass-mono);
}
