@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --accent: #14ae5c;
  --accent-hover: #1dbe68;
  --accent-active: #0ea354;
  --text-accent: #02542d;
  --navbar-height: 64px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-active: var(--accent-active);
  --color-text-accent: var(--text-accent);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-overpass-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

@layer components {
  .cta-button {
    @apply min-h-[40px] px-4 rounded-[20px];
    @apply font-semibold text-sm/[40px] tracking-[-0.4px] text-nowrap;
    @apply flex gap-2 items-center;
    @apply [&>svg]:size-5;
    @apply cursor-pointer;
    @apply bg-accent hover:bg-accent-hover active:bg-accent-active text-white;
    @apply shadow-lg hover:shadow-xl transition-shadow active:shadow-md;
    @apply transition;
  }

  .white-solid-button {
    @apply min-h-[36px] px-4 rounded-[20px];
    @apply font-semibold text-sm/[36px] tracking-[-0.4px] text-nowrap;
    @apply flex gap-2 items-center;
    @apply [&>svg]:size-5;
    @apply cursor-pointer;
    @apply bg-white text-text-accent;
    @apply shadow-lg hover:shadow-xl transition-shadow active:shadow-md;
    @apply transition;
  }

  .navbar-fixed,
  .navbar-fixed-active,
  .navbar-static-active {
    @apply fixed top-0 left-0 right-0 z-10;
    @apply bg-white/75 backdrop-blur-md translate-0;
  }

  .navbar-fixed-active {
    animation: navbarSlideDown 300ms
      linear(
        0,
        0.012 0.9%,
        0.05 2%,
        0.411 9.2%,
        0.517 11.8%,
        0.611 14.6%,
        0.694 17.7%,
        0.765 21.1%,
        0.824 24.8%,
        0.872 28.9%,
        0.91 33.4%,
        0.939 38.4%,
        0.977 50.9%,
        0.994 68.4%,
        1
      )
      forwards;
  }

  .navbar-static-active {
    animation: navbarSlideUp 300ms
      linear(
        0,
        0.012 0.9%,
        0.05 2%,
        0.411 9.2%,
        0.517 11.8%,
        0.611 14.6%,
        0.694 17.7%,
        0.765 21.1%,
        0.824 24.8%,
        0.872 28.9%,
        0.91 33.4%,
        0.939 38.4%,
        0.977 50.9%,
        0.994 68.4%,
        1
      )
      forwards;
  }

  @keyframes navbarSlideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes navbarSlideUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 20px;
  @apply md:max-w-[960px];
}

@utility animate-hover {
  @apply translate-y-0 hover:-translate-y-0.5 active:translate-y-0.5;
  @apply transition;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-sans);
}

code,
kbd,
samp,
pre {
  font-family: var(--font-overpass-mono);
}
