@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-overpass-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-sans);
}

code,
kbd,
samp,
pre {
  font-family: var(--font-overpass-mono);
}
