@import "tailwindcss";
@import "./styles/keyframes.css";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --accent: #028141;
  --accent-hover: #00944a;
  --accent-active: #00944a;
  --text-accent: #028141;
  --text-gray: #434343;
  --calm: #0e4da0;
  --calm-hover: #1156af;
  --calm-active: #1156af;
  --text-calm: #05408d;
  --max-width-mobile: 430px;
  --ease-silky: cubic-bezier(0.5, 0.5, 0, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-active: var(--accent-active);
  --color-text-accent: var(--text-accent);
  --color-text-gray: var(--text-gray);
  --color-calm: var(--calm);
  --color-calm-hover: var(--calm-hover);
  --color-calm-active: var(--calm-active);
  --color-text-calm: var(--text-calm);

  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-overpass-mono);
  --font-amiri-quran: var(--font-amiri-quran);
}

@import "./styles/utilities.css";
@import "./styles/components.css";

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-sans);

  [dir="rtl"] {
    direction: rtl;
    font-family: var(--font-amiri-quran);
  }
}

code,
kbd,
samp,
pre {
  font-family: var(--font-overpass-mono);
}
